body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    transition: all 0.3s ease;
  }
  
  .bg-primary {
    background-color: #07ecf4 ;
  }
  
  .navbar {
    margin-bottom: 30px;
  }
  
  .about {
    padding: 60px 0;
  }
  
  .skills {
    padding: 60px 0;
  }
  
  #dark-mode-toggle {
    position: absolute;
    right: 20px;
    top: 20px;
  }
  
  .dark-mode {
    background-color: #333;
    color: #fff;
  }
  